table,
thead,
tbody,
tr,
th,
td {
    padding: 5px;
}

table {
    margin: 15px auto;
    width: 100%;
}

th {
    border-bottom: 2px solid purple;
    border-left: 2px solid purple;
}

td {
    border-bottom: 1px solid rgba(170, 170, 170, 0.7);
}

i {
    cursor: pointer;
}

.fa-pen-to-square {
    color: darkmagenta
}

.fa-trash {
    color: darkred;
}